/* Importe de fontes */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Configuração geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Declaração de fontes e paleta de cores */
:root {
    --fontTitulos: 'REM', sans-serif;
    --fontParagrafos:'Oswald', sans-serif;
    --corRosa:#f26dab;
    --corRoxo:#6d3a7a;
    --corAmarelo:#d9bf73;
    --corAzul:#4371e6;
    --corAzulescuro:#0d1a26;
}

body {
    width: 100%;
    font-family: 'Roboto';
}

#container-principal {
    background-image: url(../imagens/jason.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
}
/* Cabeçalho e menu de navegação */
#box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

/* menu de navegação */
#container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 480px;
}

#container-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--fontTitulos);
    transition: .8s;
}

#container-nav a:hover {
    background-color: var(--corAzulescuro);
    padding: 10px;
    border-radius: 20px;
    transition: .8s;
}

/* container do logo */
#box-header #box-logo {
    position: relative;
    width: 100px;
    height: 60px;
    left: 20px;
    cursor: pointer;
}

/* menu de icones */
#box-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    width: 150px;
}
#box-icon img {
    position: relative;
    width: 25px;
    height: 25px;
    right: 15px;
    cursor: pointer;
}

/* Conteúdo main - principal */
#box-friday {
    margin-top: 5vh;
    margin-left: 20px;
    width: 730px;
    height: 450px;
    padding: 15px;
}

/* logo */
#box-friday #logo-friday {
    width: 600px;
    height: 150px;
    margin-bottom: 15px;
}

/* descrição do filme */
#box-friday #box-description {
    color: white;
    font-size: 22px;
    font-family: var(--fontParagrafos);
}

#box-friday #box-descriptionmovie {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}

/* buttões do filme */
#box-trailer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#box-trailer img {
    width: 50px;
    height: 50px;
}

#box-trailer a {
    position: relative;
    left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--fontParagrafos);
    color: white;
}

#box-trailer a:hover {
    color: gray;
    transition: .8s;
}

#box-trailer .box-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    width: 230px;
    background-color: var(--corAzulescuro);
    border-radius: 20px;
}

#box-trailer #box-buttontrailer {
    width: 150px;
}

/* Sessão filmes populares */
#box-populars {
    margin-top: 20px;
    width: 100%;
    height: 350px;
    padding: 8px;
}

#box-populars h1 {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--fontTitulos);
}

#box-populars #box-popularsmovie {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box-populars img {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    transition: 1.2s;
}

#box-populars img:hover {
    transform: translateY(-5%);
    border: 2px solid white;
    transition: 1.2s;
}

/* Sessão series */
.box-series {
    margin-top: -20px;
    width: 100%;
    height: 360px;
    background-color: var(--corAzulescuro);
    padding: 8px;
}

.box-series h1 {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--fontTitulos);
}

.box-series .box-popularseries {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-series img {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    transition: 1.2s;
}

.box-series img:hover {
    transform: translateY(-5%);
    border: 2px solid white;
    transition: 1.2s;
}

/* Sessão animes */
#box-animes {
    margin-top: -20px;
    width: 100%;
    height: 360px;
    background-color: black;
    padding: 10px;
}

#box-animes h1 {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--fontTitulos);
}

#box-animes #box-popularanime {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box-animes img {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    transition: 1.2s;
    
}

#box-animes img:hover {
    transform: translateY(-5%);
    border: 2px solid white;
    transition: 1.2s;
}



